@layout BlankLayout
@page "/SelecionarHospital"
@inject NavigationManager NavigationManager
@inject ToShare ToShare


<div>
    <h2>Selección de centro de vacunación</h2>
    <label for="centros" class="control-label">Seleccione un centro: </label>
    <select name="centros" @bind="@ToShare.IdHospital">
        @foreach(var item in centrosVacunacion)
        {
            <option value="@item.Id">@item.Nombre</option>
        }
    </select>
    <button @onclick="ToIndex">Continuar</button>
</div>

@code{
    private List<CentroVacunacion> centrosVacunacion;
    protected override void OnInitialized()
    {
        if (ToShare.IdHospital != -1)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            DBServices db = new DBServices();
            centrosVacunacion = db.GetCentrosVacunacion();
        }
    }
    private void ToIndex() => NavigationManager.NavigateTo("/");
}